body {
  margin-left: 45px;
}

.badge {
  border-radius: 5px;
  padding: 1px 5px;
  color: white;
  font-size: .65rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.badge-success {
  background-color: #5cb85c;
}

.badge-primary {
  background-color: #428bca;
}